@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item p-0">
        <a class="nav-link text-dark" style="font-size: 1.1rem;" asp-area="" asp-controller="Products" asp-action="Index" 
        
        onmouseover="this.style.textDecoration='underline';"
        onmouseout="this.style.textDecoration='none';">Produkter</a>
    </li>
    <li class="nav-item p-0">
        <a class="nav-link text-dark" style="font-size: 1.1rem;" asp-area="" asp-controller="Sales" asp-action="Index" onmouseover="this.style.textDecoration='underline';"
        onmouseout="this.style.textDecoration='none';">Ordrar</a>
    </li>
    <li class="nav-item p-0">
        <a class="nav-link text-dark" style="font-size: 1.1rem;" asp-area="" asp-controller="Sellers" asp-action="Index" onmouseover="this.style.textDecoration='underline';"
        onmouseout="this.style.textDecoration='none';">Säljare</a>
    </li>

    
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark" style="color: black; text-decoration: none;"
                    onmouseover="this.style.backgroundColor='#d3e8fd'; this.style.textDecoration='underline';"
                    onmouseout="this.style.backgroundColor='transparent'; this.style.textDecoration='none';">Logga ut</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </li>
}
</ul>
